@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;700&display=swap');
:root{
    --mainTextColor: #000;
    --secondaryTextColor: rgb(60, 60, 60);
    --mainLinkColor: #4169E1;
    --mainBorderColor: rgb(180,180,180);
    --mainBgColor:#FFFAF0;
    --secondaryBgColor: rgb(255, 215, 36);
}

[data-theme="dark"] {
    --mainTextColor: #fff;
    --secondaryTextColor: rgb(195, 195, 195);
    --mainLinkColor: rgb(255, 250, 180);
    --mainBorderColor: rgb(100,100,100);
    --mainBgColor:rgb(25, 25, 50);
    --secondaryBgColor:rgb(75, 75, 125);
}

*{
    font-family: 'Montserrat', sans-serif;
    line-height: 1.5em;
    box-sizing: border-box;
    color: var(--mainTextColor);

}

body{
    background-color: var(--mainBgColor);
    margin: 0;
}


p,span, li{
    color: var(--secondaryTextColor);
    font-size: 1em;
}

a{
    text-decoration: none;
    color: var(--mainLinkColor);
    font-weight: 500;
}

li{
    line-height: 1.9em;
}

#container--navigation{
    background-image: url("../assets/images/nav_background.JPG");
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}
.topnav-space{
    height: 10em;
}
.topnav-bg{
    background-color: var(--mainBgColor);
    opacity: 60%;
}

.topnav{
    display: flex;
    justify-content: flex-end;
    flex-wrap: wrap;
}

.topnav a{
    color: var(--mainTextColor);
    text-align: center;
    font-size: 17px;
    font-weight: 500;
    transition: 0.3s;
    padding: 0.5em 1em;
}

.topnav a:hover{
    background-color: var(--mainBorderColor);
    color: var(--mainLinkColor);
}

.topnav a.active{
    background-color: var(--secondaryBgColor);
    color: var(--mainTextColor);
    font-weight: 700;
}



#container--main{
    max-width: 1000px;
    padding: 1.5em 1.5em;
    margin: auto;
}

.section--page{
    padding-top: 1em;
    padding-bottom: 1em;
}

#wrapper--hero{
    display: flex;
    align-items: center;
    gap: 3em;
}

#bio, a{
    font-weight: 300;
}

#name{
    font-size: 36px;
    font-weight: 700;
    line-height: 1em;
}

#profile--pic{
    width: 200px;
    height: 200px;
    object-fit: cover;
    border-radius: 0%;
}

#email{
    color:var(--mainTextColor);
}

#socials--list{
    display: flex;
    justify-content: flex-end;
    column-gap: 1em;
    flex-wrap: wrap;
    padding-right: 2em;
}

#socials--list a{
    font-weight: 400;
    font-size: 0.9em;
    color: var(--secondaryTextColor);
    transition: 0.3s;
}

#socials--list a:hover{
    font-weight: 400;
    color: var(--mainLinkColor);
    font-size: 0.9em;
}

#qualifications--list{
    list-style: none;
}

#wrapper--techstack__items{
    display: flex;
    flex-wrap: wrap;
    gap: 1em;
    font-size: 0.9em;
}

.card--techstack{
    border:1px solid var(--mainBorderColor);
    padding: 0.5em 1em;
    border-radius: 5px;
}

.card--education{
    margin-top: 2em;
    margin-bottom: 2em;
    padding-left: 2em;
}

.card--work-history{
    border-left: 1px solid var(--mainBorderColor);
    margin-top: 3em;
    margin-bottom: 3em;
    padding-left: 2em;
}

.line-break{
    background-color: var(--mainBorderColor);
    height:1px;
}

#footer{
    text-align: center;
    padding: 3px;
    background-color: lightgray;
    color: #000;
    font-size: small;
    font-family: sans-serif;
    margin: 0;
}
.designedby{
    text-align: left;
    color: #000;
    font-family: sans-serif;
}

.lastupdated{
    position: absolute;
    right:2em;
    margin-right: 10px;
    color: #000;
    font-family: sans-serif;
}

.theme-switch-wrapper {
    position: absolute;
    left:2em;
    margin-left:10px;
    align-items: center;
    vertical-align: middle;
  }

  .theme-switch {
    display: inline-block;
    height: 17px;
    position: relative;
    align-items: center;
    width: 30px;
  }
  
  .theme-switch input {
    display:none;
  }
  
  .slider {
    background-color: #ccc;
    bottom: 0;
    cursor: pointer;
    left: 0;
    position: absolute;
    right: 0;
    top: 0em;
    transition: .4s;
  }
  
  .slider:before {
    background-color: #fff;
    bottom: 2px;
    content: "";
    height: 13px;
    left: 2px;
    position: absolute;
    transition: .4s;
    width: 13px;
  }
  
  input:checked + .slider {
    background-color: #66bb6a;
  }
  
  input:checked + .slider:before {
    transform: translateX(13px);
  }
  
  .slider.round {
    border-radius: 1.2em;
  }
  
  .slider.round:before {
    border-radius: 50%;
  }

.theme-switch-text {
    position: absolute;
    left: 5em;
    margin-left:10px;
    align-items: center;
    vertical-align: middle;
    color: #000;
    font-family: sans-serif;
  }

@media(max-width:500px){
    #wrapper--hero{
        gap: 1em;
        flex-direction: column;
    }

    #profile-pic{
        width: 500px;
        height: 500px;
    }

    .section--page{
        padding-top: 1em;
        padding-bottom: 1em;
    }

    .card--education{
        padding-left:0%
    }

    #footer{
        font-size: x-small;
    }
}